* {
    font-family: 'Times New Roman', Times, serif;
}

textarea {
    width: -webkit-fill-available;
    padding: 12px 24px 0px;
    border: 0px;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.8);
    background-color: antiquewhite;
    resize: none;
    overflow: hidden;
}

body {
    background-color: #ffd1a0;
}

h1 {
    font-size: 60px;
    margin: 16px 24px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
}

.text-result {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin: 16px 0px 24px 40px;
}

p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    padding: 20px 0px;
    text-align: justify;
}

.info {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.8);
    margin: 0px 25px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    background-color: antiquewhite;
    padding: 10px 20px;
    border-radius: 20px;
}

.dice-place {
    width: 100%;
    text-align: center;
}

.dice {
    height: 280px;
    width: 280px;
    border-radius: 50px;
    background-color: antiquewhite;
    padding: 20px;
    margin: 50px;
    display: inline-block;
    vertical-align: bottom;
    border-spacing: 0px;
}

/* .dice:active {
    transform: rotate(720deg);
    transition: all 5s linear;
} */

.dice>div {
    background-color: rgba(0, 0, 0, 0.6);
    width: calc(70%/3.1);
    height: calc(70%/3);
    display: inline-block;
    border-radius: 100%;
    margin: 13px;
}

.munch-img {
    height: 375px;
    margin: 50px 50px 0px;
    display: inline-block;
}

.rotate360 {
    transition: transform 1s;
    transform: rotate(360deg)
}