* {
    font-family: 'Times New Roman', Times, serif;
}

textarea {
    width: -webkit-fill-available;
    height: 500px;
    padding: 12px 24px 0px;
    border: 0px;
    font-size: 60px;
    /* overflow: hidden; */
    /* padding: 10px; */
    color: rgba(0, 0, 0, 0.8);
    background-color: antiquewhite;
    resize: none;
    overflow: hidden;
    /* min-height: 50px; */
    /* max-height: 100px; */
}

body {
    /* height: 100%;     */
    background-color: #ffd1a0;
}

h1 {
    font-size: 60px;
    margin: 16px 24px;
    /* text-align: center; */
    display: inline-block;
    /* font-weight: bold; */
    color: rgba(0, 0, 0, 0.8);
}

.text-result {
    /* padding: 16px; */
    /* padding: 0px 0px 0px 40px; */
    font-size: 60px;
    /* font-weight: bold; */
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin: 16px 0px 24px 40px;
    /* padding: 16px 0px 24px 40px; */
    /* background-color: antiquewhite; */
}

p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    padding: 20px 0px;
    text-align: justify;
    /* background-color: #ffd1a0; */
}

.info {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.8);
    margin: 0px 25px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    background-color: antiquewhite;
    padding: 10px 20px;
    border-radius: 20px;
    /* padding-: 5px; */
    /* box-shadow: rgba(0, 0, 0, 0.8); */
    /* box-shadow: 7px 7px 5px rgba(0,0,0,0.6); */
}

/* a:hover {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    background-color:antiquewhite;
    padding: 5px 0px; 
} */

.dice {
    margin: 0 auto;
    height: 280px;
    width: 280px;
    border-radius: 50px;
    background-color: antiquewhite;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dice div {
    background-color: rgba(0, 0, 0, 0.6);
    width: calc(70%/3.1);
    height: calc(70%/3);
    display: inline-block;
    border-radius: 100%;
    margin: 13px;
}